pkgbase = marxist-quote
	pkgdesc = Desktop quote overlay and settings UI
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/efebaykaraa/marxist-quote
	install = marxist-quote.install
	arch = x86_64
	license = unknown
	makedepends = cargo
	depends = engyls
	depends = gtk3
	depends = gtk4
	depends = libadwaita
	depends = pango
	depends = cairo
	depends = glib2
	depends = hicolor-icon-theme
	optdepends = desktop-file-utils: update desktop entry cache during install hooks
	source = marxist-quote-0.1.0.tar.gz::https://github.com/efebaykaraa/marxist-quote/archive/refs/tags/v0.1.0.tar.gz
	sha256sums = SKIP

pkgname = marxist-quote
